* {
    box-sizing: border-box;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding-top: 140px;
}

.top, .bottom {
    width: 879px;
    margin: 0 auto;
    font-family: 'Roboto', serif;

}

.top {
    background: #1F0404;
    padding: 70px 215px;
    text-transform: uppercase;
    margin-bottom: 40px;

}

h1, h2 {
    margin: 0;
    font-size: 48px;
}

.top span {
    display: inline-block;
    width: 19px;
}

.top span:not(:last-child) {
    margin-right: 88px;
}

.h {
    color: rgba(113, 170, 115, 0.70);
}

.e {
    color: rgba(163, 72, 72, 0.60);

}

.l {
    color: #475587;

}

.l_2 {
    color: #4B5E8D;

}

.o {
    color: rgba(178, 159, 109, 0.50);
}

.w {
    color: rgba(170, 144, 113, 0.40);

}

.o_2 {
    color: rgba(112, 72, 163, 0.50);

}

.r {
    color: #874775;

}

.l_3 {
    color: #8D4B63;

}

.d {
    color: rgba(109, 178, 162, 0.60);

}

.bottom {
    padding: 47px 74px 47px 104px;
    font-size: 24px;
    background: #D9D9D9;
    color: #4F4F4F;
    line-height: 35px; /* 150% */
    text-align: justify;
    text-shadow: 7px 7px 1px rgba(41, 36, 9, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);

}